*{
  font-family: 'Poppins', sans-serif;
   -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}



.movie_card{
  padding: 0 !important;
  width: 15rem;
  margin:14px; 
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.movie_info{
  color: #5e5c5c;
}

.movie_info i{
  font-size: 20px;
}
.card-title{
  width: 80%;
  height: 4rem;
}
.play_button{
  background-color: #ff3d49;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20px;
  font-size: 27px;
  margin-top: 100px;
  padding-left: 21px;
  padding-top: 16px;
  color: #FFFFFF;
  cursor: pointer;
}
.list {
  list-style: none;

}

.add_button{
  background-color: #f3e1e2;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 3.5%;
  margin-left: 2%;
  color: #FFFFFF;
  cursor: pointer;
}

.add_btn{
 margin-top: 7%;
}


.add_btn :hover {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}